.nav {
  background-color: #fff;
  border: 5px solid black;
  padding-left: 8%;
  padding-right: 8%;
}

.nav-top {
  //   border: 5px solid black;
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.nav-logo-div {
  //   border: 1px dashed black;
  width: 10%;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 100%;
}

.nav-pages-div {
  //   border: 1px dashed black;
  width: 45%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}

.nav-actions-div {
  //   border: 1px dashed black;
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.nav-actions-search-div {
  //   border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav-action-icon {
  font-size: 4.4rem;
}

.nav-actions-search-input {
  width: 85%;
  font-size: 1.5rem;
  border: none;
  padding-left: 1%;
}

.nav-bottom {
  //   border: 1px dashed black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bottom-aisles {
  //   border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  height: 75%;
}

// NavAisle

.nav-aisle {
  width: 18%;
}

.nav-aisle-image {
  width: 100%;
  height: 80%;
  background-size: cover;
  border: 1px solid #000;
  margin-bottom: 7%;
}

.nav-aisle-name {
  font-size: 2rem;
}

.nav-bottom-close-icon {
  font-size: 5rem;
}
